apiVersion: v1
kind: Service
metadata:
  name: eureka-server-service
spec:
  type: NodePort
  selector:
    app: eureka-server
  ports:
    # By default and for convenience, the `targetPort` is set to the same value as the `port` field.
    - port: 18000
      nodePort: 30000